<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sg.dao.GoodsDao">
    <update id="updateFinishById">
        update goods g set g.finish=#{param2}
        where g.id=#{param1}
    </update>
    <update id="updateRaseTime">
        update goods g set g.raise_time=#{param2}
        where g.id=#{param1}
    </update>


    <select id="selectGoodsCount" resultType="java.lang.Integer">
        select count(*) from goods
        where finish = 0 and good_type_id in
        <foreach collection="goodsType" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>

    </select>
</mapper>