<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.dao.UserPermissionDao">
    <insert id="setauthorityToUser">
        INSERT INTO user_permission(userId,permissionId)
        VALUES(#{id},#{pid})
    </insert>
    <delete id="deleteByUserId">
        DELETE FROM user_permission
        WHERE userId=#{uid}
    </delete>
</mapper>